.container {
    width:90%;
    padding-left:0px;
    padding-right:0px;
}
body {
    background-image:url("../img/header-blur.jpg");
    background-color:#000;
    background-size: cover;
    color:#000;
}
.billboard {
    margin-top:50px;
    color:#fff;
}


.billboard {
    text-align:center;
}
.billboard h1 {
    font-size:7em;
    font-weight:100;
}

img {
    margin-top:30px;
}

.portfolio {
    margin-top:300px;
    background-color:#fff;
}

.row{
}

.subtitle {
    text-align:center;
}

.portfolio img {
    display: block;
    margin: 0 auto;
}

.portfolio h3 {
    text-align:center;
}

.portfolio .row {
    padding-top:100px;
    padding-bottom:100px;
}

.portfolio .row p {
    padding-left:10px;
    padding-right:10px;
}
.portfolio .row h3 {
    margin-bottom:3em;
    font-weight:200;
}

h2 {
    font-weight:200;
}

.hi a {
    font-size:1.4em;
}

hr {
    margin-top:3em;
    margin-bottom:3em;
}

.hi .btn {
    padding:0.7em 1.4em;
}

.hi .btn {
    border: none;
    background-image:none;
    background-color:rgba(255,255,255,0.2);
}

.hi .btn:hover {
    border: none;
    background-image:none;
    background-color:rgba(66,139,202,0.8);
}
