body {
    color:#fff;
}

.intro-text {
    font-size:14pt;
}

@media (min-width:960px) {
    .screen-height {
        height: 100vh;
    }
}

@media (max-width:959px) {
    .screen-height {
        height: 800px;
    }
}
.introduction {
    background-color:#F0646E;
}

.container {
    width:100vw;
    margin:0px;
    padding:0px;
}

.introduction {
    padding:12.5% 3em;
}

.col-md-6 .row {
    margin:0px;
    padding:1em;
}

.row {
    margin:0px;
}


.main img {
    width:100%;
}

@media(min-width:960px) {
    .introduction .col-md-6:nth-child(2n+1) {
        border-right: 3px solid #373737;
    }
}

.right-text {
    padding-top:1em;
}

.portfolio {
    background-color:#5AC8C8;
}

.bottom {
    text-align:center;
    width:100%;
    font-size:36pt;
    padding-bottom:1em;
}

.bottom a {
    text-decoration:none;
    color:#fff;
}

.bottom-intro {
    position:absolute;
    bottom:0;
}

@media screen and (max-device-width:480px) and (orientation:landscape) {
    .bottom-intro {
        bottom:-200px;
    }
}


.bottom-portfolio {
    position:absolute;
    bottom:0;
}

.bottom-about-us {
    position:absolute;
    bottom:0;
}

.bottom-about-us a {
    color:#373737;
}

.about-us {
}

.portfolio {
    position:relative;
}
.portfolio-image {
    background-image:url('/img/skyrim.jpg');
    background-size:cover;
}

.portfolio .col-md-3 {
    padding:.5em 1em;
    margin:0px;
    background-color:#373737;
    color:#fff;
    font-size:12pt;
    line-height:1.2em;
}

.portfolio .col-md-3 p {
    padding-bottom:1.5em;
}

.portfolio .col-md-3 h2 {
    font-size:24pt;
}

.contact .col-md-6 {
    padding: 12.5% 1em;
}

.btn-primary {
    font-size:144pt;
}

.contact {
    background-image:url('/img/contact-background.jpg');
    background-size:cover;
}


.top-text {
    position:relative;
    top: 0;
    right:0;
    font-size:18pt;
    width:400px;
}

.contact a {
    font-size:24pt;
    background-color:#3C5A8C;
    color:#fff;
    margin-top:8em;
}

.contact a:hover {
    color:#fff;
    background-color:#41A0DC;
}

.about-us {
    position:relative;
}

.sam {
    background-image:url('/img/sam.jpg');
    background-size:cover;
    padding:0px;
}

.ben {
    background-image:url('/img/ben.png');
    background-size:cover;
    padding:0px;
}

.profile-container {
    background-color:rgba(0,0,0,0.8);
    margin:0px;
    padding:.5em 1em;
    padding-bottom:3em;
}

.darker-because-ben {
    background-color:rgba(0,0,0,0.85);
}
